<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>確認画面</title>
    <link rel="stylesheet" href="13_registered.css">
</head>
<body>
    <div class="container">
        <h1>収支の確認</h1>
        <p>カテゴリ : </p>
        <p>支出 : ￥</p>

        <div class="button-container">
            <a href="form_page.php" class="button">修正</a>
            <a href="register.php" class="button">登録</a>
        </div>
    </div>
</body>
</html>
