<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>登録完了</title>
    <link rel="stylesheet" href="13_registered.css">
</head>
<body>
    <div class="container">
        <h1>収支の登録が完了しました</h1>
        <p>カテゴリ :</p>
        <p>支出 : ￥</p>

        <div class="button-container">
            <a href="form_page.php" class="button">追加する</a>
            <a href="top_page.php" class="button">トップ画面に戻る</a>
        </div>
    </div>
</body>
</html>
