<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>カテゴリ一覧</title>
</head>
<body>
    <header>
        <h2>カテゴリ一覧</h2>
    </header>
    <main>
        <table>
            <tr>
                <th>カテゴリ名</th>
                <th></th>
            </tr>
            <tr>
                <td>交通費</td>
                <td><button>編集</button></td>
            </tr>
            <tr>
                <td>食費</td>
                <td><button>編集</button></td>
            </tr>
            <tr>
                <td>住居費</td>
                <td><button>編集</button></td>
            </tr>
            <tr>
                <td>日用品</td>
                <td><button>編集</button></td>
            </tr>
            <tr>
                <td>その他</td>
                <td><button>編集</button></td>
            </tr>
        </table>
        <button class="Submit"><a href="10AddCategoryView.html">カテゴリを追加</a></button>
        <button class="Submit"><a href="01TopView.html">トップ画面に戻る</a></button>
    </main>
</body>
</html>