<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登録情報確認</title>
    <link rel="stylesheet" href="confirmInfomation.css" />
</head>

<body>
    <h1>登録情報確認</h1>

    <p>以下の内容に更新します。よろしいですか？</p>
    <div class="info">
        <p>メールアドレス: <span id="email">hogehoge@example.com</span></p>
        <p>パスワード: <span id="password">******</span></p>
        <p>表示名: <span id="name">あああああ</span></p>
    </div>

    <div class="button-container">
        <button onclick="location.href='edit-info.html'">修正</button>
        <button onclick="location.href='home.html'">トップ画面に戻る</button>
    </div>
</body>

</html>