<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>会員登録完了</title>
</head>
<body>
    <h2>会員登録完了</h2>
    <p>ご登録ありがとうございました。<br>
        先ほど登録完了メールを送信しました。ご確認ください。</p>

    <a href="/">トップ画面に戻る</a>
</body>
</html>