<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>パスワード再設定完了</title>
</head>
<body>
    <h2>メール送信完了</h2>
    <p>メールを送信しました。メールボックスをご確認ください。</p>
    <a href="02LoginView.html">ログイン画面にもどる</a>
</body>
</html>